@import "bootstrap-sprockets";
@import "bootstrap";
#main_login_option {
	font-size: 25px;
	list-style: square;
	background-color: #fff;
	color: #333;
	font-family: verdana, arial, helvetica, sans-serif;	
}
